.container{
    min-height: 80vh;
    padding: 1rem;
    text-align: center;
}
.modal{
    background-color: whitesmoke;
    padding: 3rem;
    position: relative;
    width: 50vw;
    top:20vh;
    margin:auto;
    box-shadow: 0.5rem 0.5rem 0.5rem lavenderblush;
    border: 1px solid darkgray;
}