.container{
    height: 7vh;
    background-color:  yellowgreen;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.5rem;
    font-size: large;
}
.title{
    margin: auto;
    vertical-align: middle;
}