.container{
    height: 7vh;
    background-color:  yellow;
    width: calc(100vw - 1rem);
    position: absolute;
    bottom:0;
    padding: 0.5rem;
    font-size: large;
}
.title{
    margin: auto;
    vertical-align: middle;
}