.container{
    min-height: 5vh;
    background-color: #b7ede0;
    color:#02353c;
    padding: 1rem;
    font-size: larger;
}
.ul_li{
    display: flex;
    justify-content: space-around;
}
.Menudiv{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding:  0rem 3rem;
}
link
{

    background-color: #02353c;
}
div a.my-active{
    color: pink !important
}
.Menudiv a{
    text-decoration: none   ;
    color:#02353c; 
}
.Menudiv a:hover{
    transform: scale(1.2);
    transition: 0.2s all linear;
    cursor: pointer;
}
